{% load bootstrap_icons %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/animals">Животные <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/cages">Экспозиции</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">{% bs_icon 'person' %} {{ user.get_username }}</a>
                </li>
            </ul>
            <a class="btn btn-outline-success my-2 my-sm-0" href="http://127.0.0.1:8000/accounts/logout"> Выйти</a>
            {% else %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="http://127.0.0.1:8000/accounts/login"> Войти</a>
            {% endif %}
            
        </div>
    </div>
</nav>